In [11]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    # Query Q10
    query1 = """
        SELECT 
            f.name AS facility,
            SUM(CASE WHEN b.memid = 0 THEN f.guestcost*b.slots ELSE 0 END) + 
            SUM(CASE WHEN b.memid = 1 THEN f.membercost*b.slots ELSE 0 END) AS revenue
        FROM Bookings AS b
        INNER JOIN Facilities AS f
        ON b.facid = f.facid
        GROUP BY f.name
        HAVING revenue > 1000
        ORDER BY revenue DESC;
        """
    
    # Query Q11
    query2 = """
        SELECT
            m1.surname || ", " || m1.firstname AS member,
            m2.surname || ", " || m2.firstname AS recommended_by
        FROM Members as m1
        INNER JOIN Members as m2
        ON m1.recommendedby = m2.memid
        ORDER by m1.surname ASC;
        """
    
    # Query Q12
    query3 = """
        SELECT 
            b.starttime as date,
            f.name AS facility,
            m.firstname || " " || m.surname AS member,
            CASE WHEN b.memid != 0 THEN b.slots ELSE 0 END AS slots_booked
        FROM Facilities AS f
        INNER JOIN Bookings AS b
        ON b.facid = f.facid
        INNER JOIN Members AS m
        ON b.memid = m.memid
        WHERE b.memid != 0
        GROUP BY facility, member
        ORDER BY date DESC;
        """
    
    # Query Q13
    query4 = """
    
        SELECT
            strftime('%m',b.starttime) AS month,
            f.name AS facility,
            SUM(CASE WHEN b.memid != 0 THEN b.slots ELSE 0 END) AS slots_booked
        FROM Facilities AS f
        INNER JOIN Bookings AS b
        ON b.facid = f.facid
        INNER JOIN Members AS m
        ON b.memid = m.memid
        WHERE b.memid != 0
        GROUP BY month, facility
        ORDER BY month, facility ASC;
        """
    cur.execute(query4)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('07', 'Badminton Court', 165)
('07', 'Massage Room 1', 166)
('07', 'Massage Room 2', 8)
('07', 'Pool Table', 110)
('07', 'Snooker Table', 140)
('07', 'Squash Court', 50)
('07', 'Table Tennis', 98)
('07', 'Tennis Court 1', 201)
('07', 'Tennis Court 2', 123)
('08', 'Badminton Court', 414)
('08', 'Massage Room 1', 316)
('08', 'Massage Room 2', 18)
('08', 'Pool Table', 303)
('08', 'Snooker Table', 316)
('08', 'Squash Court', 184)
('08', 'Table Tennis', 296)
('08', 'Tennis Court 1', 339)
('08', 'Tennis Court 2', 345)
('09', 'Badminton Court', 507)
('09', 'Massage Room 1', 402)
('09', 'Massage Room 2', 28)
('09', 'Pool Table', 443)
('09', 'Snooker Table', 404)
('09', 'Squash Court', 184)
('09', 'Table Tennis', 400)
('09', 'Tennis Court 1', 417)
('09', 'Tennis Court 2', 414)